{% extends "app/base.html" %}
{%load static%}
  
{% block content %}
<div id="content-wrapper" style="padding-top: 5px">
    <div class="row">
        <div class="col-lg-8 mb-4 order-0" style="width:500px">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div class="col-sm-7">
                <div class="card-body">
                  <h5 class="card-title text-primary">Thống kê:</h5>
                  Đến ngày <script>
                    date = new Date().toLocaleDateString();
                    document.write(date);
                  </script>
                  <p class="card-title mb-2">Công ty đã hòa mạng <span class="fw-medium"><strong>{{totalserrial}}</strong></span> thuê bao. </p>
                  <a href="{% url 'index' %}" class="btn btn-sm btn-outline-primary">Danh sách thuê bao</a>
                </div>
              </div>
              <div class="col-sm-5 text-center text-sm-left">
                <div class="card-body pb-0 px-0 px-md-4">
                  <img src="{% static  'app/image/mobile-dashboard.png' %}" height="140"  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 order-1" style="width:600px">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-6 mb-4" style="width:200px">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                      <div class="avatar flex-shrink-0">
                        <img src="{% static 'app/image/Mobifone.png' %}" alt="chart success" class="rounded" width="30" height="30">
                      </div>
                    </div>
                    <span class="fw-medium d-block mb-1">Số lượng thuê bao Mobifone:</span>
                    <h3 class="card-title mb-2"><strong>{{totalmobifone}}</strong></h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-6 mb-4" style="width:200px">
              <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                      <img src="{% static 'app/image/Viettel.png' %}" alt="chart success" class="rounded" width="30" height="30">
                    </div>
                  </div>
                  <span class="fw-medium d-block mb-1">Số lượng thuê bao Viettel:</span>
                  <h3 class="card-title mb-2"><strong>{{totalviettel}}</strong></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4" style="width:200px">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                      <div class="avatar flex-shrink-0">
                        <img src="{% static 'app/image/Vinaphone.png' %}" alt="chart success" class="rounded" width="30" height="30">
                      </div>
                    </div>
                    <span class="fw-medium d-block mb-1">Số lượng thuê bao Vinaphone:</span>
                    <h3 class="card-title mb-2"><strong>{{totalvinaphone}}</strong></h3>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
            <div class="col-sm-6">    
                <canvas id="myChart" width="300" height="200"></canvas>
                    <div>
        
        <script type="text/javascript">
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for course in depart_list %} '{{ course }}', {% endfor %}],
                    datasets: [{
                        label:'Số lượng thuê bao theo đơn vị',
                        data: [{% for number in numderpart_list %} '{{ number }}', {% endfor %}],
                        backgroundColor:[
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 135, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(151, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 135, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(211, 192, 192, 1)',
                        'rgba(234, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'gree',
                        'yellow',
                        ],
        
                        borderColor: [
                        'rgba(54, 162, 135, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(211, 192, 192, 1)',
                        'rgba(234, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
        
                        ],
        
                        borderWidth: 1
                    }]
                },
        
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,                                
                                maxRotation: 90,
                                minRotation: 90
                            }
                        }]
                    }
                }
            })
        </script>        
                    </div> 
                </div>

            <div class="col-sm-6">    
            <canvas id="myChart1" width="300" height="200"></canvas>
                <div>

<script type="text/javascript">
var ctx = document.getElementById('myChart1').getContext('2d');
var myChart1 = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: [{% for course in course_list %} '{{ course }}', {% endfor %}],
        datasets: [{
            label:'Số lượng thuê bao theo chương trình ',
            data: [{% for number in number_list %} '{{ number }}', {% endfor %}],
            backgroundColor:[
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 135, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(151, 102, 132, 1)',
            'rgba(153, 99, 132, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 135, 1)',
            'rgba(25, 206, 86, 1)',
            'rgba(211, 192, 192, 1)',
            'rgba(234, 102, 132, 1)',
            'rgba(153, 99, 132, 1)',
            'rgba(255, 159, 64, 1)',
            'gree',
            'yellow',
            ],

            borderColor: [
            'rgba(54, 162, 135, 1)',
            'rgba(25, 206, 86, 1)',
            'rgba(211, 192, 192, 1)',
            'rgba(234, 102, 132, 1)',
            'rgba(153, 99, 132, 1)',
            'rgba(255, 159, 64, 1)',

            ],

            borderWidth: 1
        }]
    },

    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
})
</script>        
                </div>
            </div>            
        </div>
<!-- end of static icon -->           
    </div>
</div>
{% endblock content %}