{% extends "app/base.html" %}
{%load static%}
{% block title %}Phone Records{% endblock title %}
  
{% block content %}
<p class="card-title" style="font-size:2vw"><b><strong><u>DANH SÁCH THUÊ BAO SỬ DỤNG SAI GÓI CƯỚC HỆ THỐNG SCADA</u></strong></b></p>
 <div class="col-md-12">
    <span style="margin-bottom:10px">
        <a href="/warning_spider" class="btn btn-primary">Thuê bao Spider</a>        
        <a href="/warning_scada" class="btn btn-primary">Thuê bao SCADA</a>    
        <a href="/warning_dspm" class="btn btn-primary">Thuê bao DSPM</a>
        <a href="/warning_mtmn" class="btn btn-primary">Thuê bao MTMN</a>  
        <a href="/warning_data" class="btn btn-primary">Thuê bao SRFI</a>           
    </span>
<!--Table chưa xuất dữ liệu theo điều kiện-->
        <div class="table-responsive">
        <table id="example" class="table table-hover" width="100%">
        <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>Phone</th>
            <th>Serial</th>
            <th>Nhà mạng</th>
            <th>Gói cước</th>
            <th>Đơn giá</th>            
            <th>Đơn vị</th>
        </thead>
        <tbody>
        {% for phone in phones %}  
            <tr>  
            <td><input type="checkbox" class="checkthis" /></td>
            <td>{{phone.phone}}</td>
            <td>{{phone.serial}}</td>
            <td>{{phone.network_id}}</td>
            <td>{{phone.pack}}</td>
            <td>{{phone.money}}</td>            
            <td>{{phone.department_id}}</td>    
            </tr>  
        {% endfor %} 
        </tbody>
        </table>
        </div>
    </div>
{% endblock content %}